#pic{
    align-self: center;
    left:50%;
    right:50%;
    text-align: center;
    margin: 33px 0;
}
#pic img{
    width:165px;
    height:47.83px;
}
nav{
    width:100%;
    height:60px;
    display:flex;
    flex-direction: row;
    height:fit-content;
    z-index:50;
    padding:2% 0;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid gray;
}
#navbtn{
    top: 111px;
    left: 249px;
    width: 47px;
    height: 26px;
/* UI Properties */
    text-align: left;
    font: normal normal 600 19px/26px Segoe UI;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    margin:0 60px 0 60px;
    display: inline-flex;
    align-items: center;
}
hr{
    width:100%;
}
#part2{
    display:flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}
#part2dot2{
 width:100% ;
 height:520px;
 background: url(/part2.2.png) no-repeat ;  
}
#part2dot1{
    left:121px;
    width:50%;
    word-wrap: normal;
    font-size: 18px;
    position: relative;
    z-index: 10;
}
#part2dot1 h1{
    font-size: 40px;
}
#part2dot2 img{
    border-radius:0 0 300px 0%;  
    border:1px solid grey;  
}
#pricebutton{
   width:250px;
   height:65px;
   border-radius: 32.5px;
   color:white;
   background-color: rgba(20, 146, 230, 1); 
   border:none;
   font-size: 23px;
   box-shadow: 5px 5px 4px rgba(20, 146, 230, 0.7);
}
#part3,#part4{
    display: flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    align-content: space-evenly;
    justify-items: center;
    justify-content: center;
    text-align:center;
}
#part3dot1{
    width:310px;
    height:320px;
    border: 1px solid gray;
    box-shadow: 2px 3px 4px rgba(128, 128, 128, 0.614);
    border-radius: 20px;
    padding:20px;
    margin:10px;
    font-size: 18px;
    text-align: left;
}
#part3dot1 h1,#part4dot1 h1{
    font-size:18px;
    text-align: center;
}
#part4 img{
    width: 70%;
    height:200px;
    
}
#part4dot1{
    width:33%;
    height:320px;
    padding:20px;
    margin:10px;
    font-size: 18px;
    text-align: left;
}
#part5{
   display:flex;
   flex-direction:column;
}
#part5dot1,#part5dot3{
    text-align:left;
    vertical-align:middle;
    width:95%;
    float:left;
    display:flex;
    flex-direction:row;
}
#part5dot2,#part5dot4{
    text-align:left;
    vertical-align:middle;
    width:95%;
    float:right;
    align-self:right;
    display:flex;
    flex-direction:row;
}
#part5dot1 img,#part5dot3 img,#part5dot2 img,#part5dot4 img{
    vertical-align:middle;
    margin:2%;
}
#content-div{
    width:45%;
    height:fit-content;
    margin:2%;
}
#blank{
    width:45%;
    height:fit-content;
    margin:2%;
}
#part6{
    width:80%;
    height:fit-content;
    border-radius:42px;
    box-shadow:2px 3px 4px 4px rgba(128, 128, 128, 0.301);
    margin:2% 15% 2% 5%;
    z-index:20;
    padding:2%;
}
#part6dot1 img{
    width:60px ;
    height:60px; 
    vertical-align:middle;
    
}
#part6dot2{
    display:flex;
    flex-direction:row;
    position:relative;
    bottom:-100px;
    right:-70px;
    width:95%;
    justify-content:center;
    align-items:center;
}
h6{
   color:grey;
   font-weight:100;
   margin:10px;
}
#testimonial{
   width:28%;
   height:45%;
   display:flex;
   flex-direction:column;
   text-align:center;
   vertical-align:middle;
   z-index:30;
   border:solid 1px grey;
   box-shadow:2px 3px 3px 3px rgba(128, 128, 128, 0.301);
   padding:1% 1% 8% 1%;
   border-radius:30px;
   margin:10px;
   align-content:space-evenly;
   background-color:white;
}
#testtop{
   display:flex;
   flex-direction:row;
   align-content:space-evenly;
   justify-content:center;
}
#testimonial img{
   vertical-align:middle;
}
#image,#namespan,#rating{
   margin:10px;
   word-wrap:normal;
}
#forwardarrow .material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
}
#forwardarrow{
   display:flex;
   height:60px;
   width:60px;
   z-index:30;
   margin:10px;
   border:solid 1px grey;
   box-shadow:2px 3px 3px 3px rgba(128, 128, 128, 0.301);
   border-radius:50%;
   margin:10px;
   background-color:white;
   position:relative;
   justify-content:center;
   align-items:center;
}
#part7{
   display:flex;
   flex-direction:row;
   justify-content:center;
   width:95%;
   height:fit-content;
   padding:2%;
   margin:2.5%;
   align-items:flex-end;
}
#image1{
   margin:2%;
   width:30%;

}
#image1 img{
   width:inherit;
   text-align:center;
}
#bottombar{
   
   text-align:center;
   background-color:black;
   color:white;
   width:100%;
   height:10vw;
   vertical-align:baseline;   
}
@media screen and (max-width:800px) {
*{margin:0;padding:0;}
nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height:20%;
    overflow-x: scroll;
    font-size: 10px;
    position: sticky;
    top:0%;
}
#navbtn{
    top: 111px;
    width: 60px;
    height: 26px;
    text-align: left;
    font: normal normal 600 19px/26px Segoe UI;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    margin:0 10px 0 10px;
    justify-content:flex-start;
}
#part2{
    display:flex;
    flex-direction:column;
    width:100vw;
}
p{word-wrap:break-word;width:90vw;}
#part2dot2{
 width:95vw ;
 padding:2em;
 height:fit-content;
 background: url(images/part2.2.png) no-repeat ; 
 display:flex; 
}
#part2dot1{
    width:90vw;
    position:relative;
    left:15px;
    word-wrap: break-word;
    font-size: 12px;
    z-index: 10;
}
#part2dot1 h1{
    width:90vw;
    font-size: 24px;
    word-wrap: break-word;
}
#pricebutton{
   width:150px;
   height:40px;
   border-radius: 32.5px;
   color:white;
   background-color: rgba(20, 146, 230, 1); 
   border:none;
   font-size: 14px;
   box-shadow: 5px 5px 4px rgba(20, 146, 230, 0.7);
}
#part3,#part4{
    margin:10% 0 10% 0;
    display: flex;
    flex-direction:column;
    width:100%;
    height:fit-content;
    justify-items: center;
    text-align:center;
}
#part3dot1{
    width:90vw;
    height:fit-content;
    border: 1px solid gray;
    box-shadow: 2px 3px 4px rgba(128, 128, 128, 0.614);
    border-radius: 20px;
    padding:20px;
    margin:10px;
    font-size: 18px;
    text-align: left;
}
#part3dot1 h1,#part4dot1 h1{
    font-size:18px;
    text-align: center;
    word-wrap: break-word;
}
#part4 img{
    width:70vw;
    height:150px;
    
}
#part4dot1{
    width:90vw;
    height:320px;
    padding:20px;
    margin:10px;
    font-size: 18px;
    text-align: left;
}
#part5{
   display:flex;
   flex-direction:column;
}
#part5dot1,#part5dot3{
    text-align:left;
    vertical-align:middle;
    width:90vw;
    float:left;
    display:flex;
    flex-direction:row;
}
#part5dot2,#part5dot4{
    text-align:left;
    vertical-align:middle;
    width:90vw;
    float:right;
    align-self:right;
    display:flex;
    flex-direction:row;
}
#part5dot1 img,#part5dot3 img,#part5dot2 img,#part5dot4 img{
    vertical-align:middle;
    margin:2%;
}
#content-div{
    width:90vw;
    height:fit-content;
    margin:5%;
}
#blank{
    display:none;
    height:fit-content;
    margin:2%;
}
}